@charset "utf-8";

/*共通部*/
.container { 
    margin-top: 1rem;
}
.title-font {
    font-family: 'Bradley Hand', 'Comic Sans MS', sans-serif;
}
body {
    font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic'  
    }

/*ホーム画面 - 投稿*/
.grid-item {
    padding-bottom: 1rem;
}

.image-delete {
    position: relative;
}
.image-delete button {
    position: absolute;
    top: 0;
    right: 0;
}     
.image-delete img {
    width: 100%;
}

.like-color {
    color: palevioletred;
}
  

